<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/home" 
      text="Regresar"
      color="dark"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-content>
    <img src="/assets/icon/qr.png">
   </ion-card-content>
  </ion-card>
  <ion-button type="submit" expand="block" routerLink="/home">
  Registrar
</ion-button>
</ion-content>