<ion-header>
  <ion-toolbar>
    <ion-title color="warning">Cerrar Sesión</ion-title>

 
  <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/inicio" 
    text="Regresar"
    color="dark"
    mode="ios">
    </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card-content>
    <p class="parrafo1">
      Si presionas el botón estarás cerrando la sesión.
    </p>
  </ion-card-content>
  <ion-button type="submit" expand="block" routerLink="/home">
    Presiona para Salir
</ion-button>
</ion-content>

