<ion-header>
  <ion-toolbar>
    <ion-title color="warning">RegistrApp</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/home" 
      text="Regresar"
      color="dark"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
    <img src="/assets/icon/RegistrApp.png">
    <ion-title color="warning">¿Quiénes Somos?</ion-title>
    <ion-card-title> <p class="parrafo">Somos una app diseñada para facilitar el registro de 
      asistencia en las clases de los alumnos de DuocUc.<br>
      Cada docente debe registrar en el sistema infórmatico
      la asitencia a tráves de un código qr de la manera
      más rápida y eficaz, para evitar futuros inconvenientes.</p>  </ion-card-title>
   </ion-card-content>
  </ion-card>
</ion-content>
