<ion-header>
  <ion-toolbar>
    <ion-buttons slor="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="warning">Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-title color="warning">RegistrApp</ion-title>
    <ion-card-content>
    <img src="/assets/icon/RegistrApp.png">
   </ion-card-content>
  </ion-card>


 
</ion-content>