<ion-header>
  <ion-toolbar type="submit" color="primary">
    <ion-title type="submit">Principales artículos de negocios en los EE. UU. en este momento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/home" 
      text="Regresar"
      color="dark"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor = " let noticias of noticias">
        <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{noticias.source.name}}</ion-card-subtitle>
          <ion-card-title>{{noticias.title}}</ion-card-title>
        </ion-card-header>
        <ion-img *ngIf="noticias.urlToImage"
                  [src] ="noticias.urlToImage"></ion-img>
        <ion-card-content>
          <p>
            {{noticias.descripcion}}
          </p>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
